/* Mecherle */

/*https://statefarm-fonts.s3.amazonaws.com/*/


/* Mecherle Legal */

@font-face {
	font-family: 'Mecherle-Legal';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleLegal-Regular.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleLegal-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Mecherle Sans Regular */

@font-face {
	font-family: 'Mecherle-Sans';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Regular.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* Mecherle Sans Medium */

@font-face {
	font-family: 'Mecherle-Sans';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Medium.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


/* Mecherle Sans Semi-Bold */

@font-face {
	font-family: 'Mecherle-Sans';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-SemiBold.woff') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}


/* Mecherle Sans Bold */

@font-face {
	font-family: 'Mecherle-Sans';
	src: url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Bold.woff2') format('woff2'),  
		url('https://static1.st8fm.com/en_US/dxl-1x/prod/css/fonts/Mecherle/woff/MecherleSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}